src/main/mule/implementation/get-accounts-sfdc2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-accounts-sfdc-fetch--flow" doc:id="3f6e8768-2240-4015-a31d-7e7e2b906da0" >
		<ee:transform doc:name="selectOperation" doc:id="6abd700a-94c0-4547-9115-f7c094813c08" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var lastModifiedDateTimeVar = if(vars.requestqueryParam.lastModifiedDateTimeVar != null)(true)else(false)
---
("Select Name,accountName__c,AccountNumber,Type,Industry,AnnualRevenue,status__c,BillingCity,Rating,phoneNumber__c,Ownership from Account" ++ 
(if(lastModifiedDateTimeVar)(" where lastModifiedDate__c > '" ++ vars.requestqueryParam.lastModifiedDateTimeVar ++ "'") else(""))) 

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="salesforce request Logger" doc:id="1964f586-21f8-4650-8301-62b512225cf2" message='#[%dw 2.0
output application/json
---
{
	"flowname": flow.name,
	"appname": app.name,
	"transactionid": vars.requestHeader.transactionId,
	"status": "sfdc query request",
	"datetime": now()
}]'/>
		<salesforce:query-all doc:name="fetch accounts Query all" doc:id="31d930dd-8d90-467a-9969-2bec1f57ee8c" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[#[payload]]]></salesforce:salesforce-query>
		</salesforce:query-all>
		<logger level="INFO" doc:name="salesforce responce Logger" doc:id="04713095-ff2d-4f41-996c-4897c58a1720" message='#[%dw 2.0
output application/json
---
{
	"flowname": flow.name,
	"appname": app.name,
	"transactionid": vars.requestHeader.transactionId,
	"status": "sfdc query responce",
	"datetime": now()
}]'/>
		<ee:transform doc:name="mapping" doc:id="1942bd69-6596-4e69-8222-88ee3ba78ed9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "accountRequest": payload map ((emp,index)->
    {
	"Name": emp.accountName__c default "",
	"AccountNumber": emp.AccountNumber,
	"Type": emp.Type,
	"Industry": emp.Industry,
	"AnnualRevenue": emp.AnnualRevenue default 0 as Number,
	"status": emp.status__c,
	"BillingCity": emp.BillingCity,
	"Rating": emp.Rating,
	"phone": emp.phoneNumber__c default "",
	"Ownership": emp.Ownership
    }
  )
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="00777b57-6f55-4a30-ab94-ca515e3a06eb" type="SALESFORCE:CONNECTIVITY, SALESFORCE:INVALID_INPUT, SALESFORCE:INVALID_RESPONSE, SALESFORCE:LIMIT_EXCEEDED, SALESFORCE:NOT_FOUND, SALESFORCE:TIMEOUT">
				<ee:transform doc:name="errorPayload" doc:id="30070999-3c80-4473-9623-b695cdb2646f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ 
	"msg"		: error.description,
	"error"		: {
		"type"	: error.errorType.asString,
		"title"	: error.errorType.identifier,
		"details" : error.detailedDescription
  }
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="logmessage" doc:id="08173d8e-697d-422d-920e-7e0a37212427" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
