src/main/mule/implementation/get-accounts-status-db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-accounts-status-dbFlow" doc:id="bd635ec0-d285-4add-a194-42d8b02a09aa" >
		<logger level="INFO" doc:name="Logger" doc:id="818db87f-606d-4678-8875-42e5f20289b8" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"flowname": flow.name,&#10;	"appname": app.name,&#10;	"transactionid": vars.requestHeader.transactionId,&#10;	"status": "db fetch request",&#10;	"datetime": now()&#10;}]'/>
		<db:select doc:name="Select" doc:id="4b115923-34b3-46b3-8e7e-a692b7263ae4" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from customer where LastModifiedDate <= now() and LastModifiedDate >= ":LastModifiedDate";]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"LastModifiedDate": vars.requestquerParam.LastModifiedDate
}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="c8a412f2-1c48-4e3f-8318-f20e4d6758b4" message='#[%dw 2.0
output application/json
---
{
	"customer":  "payload",
	"flowname": flow.name,
	"appname": app.name,
	"transactionid": vars.requestHeader.transactionId,
	"status": "db fetch responce",
	"datetime": now()
}]'/>
		<ee:transform doc:name="Transform Message" doc:id="a43e271e-79eb-4eca-a10e-f5d8204a93b2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "accountRequest": payload map ((emp,index)->
    {
	"Name": emp.accountName,
	"AccountNumber": emp.AccountNumber,
	"Type": emp.Type,
	"Industry": emp.Industry,
	"AnnualRevenue": emp.AnnualRevenue as Number,
	"status": emp.status,
	"BillingCity": emp.BillingCity,
	"Rating": emp.Rating,
	"phone": emp.phoneNumber,
	"Ownership": emp.Ownership
    }
  )
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
